nav .to_hover,
nav .to_hover:after,
nav .to_hover:before {
  transition: width 0.5s, color 0.5s;
}

nav.stroke .to_hover {
  position: relative;
}
nav.stroke .to_hover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: #33a3ed;
  height: 2px;
}
nav.stroke .to_hover:hover:after {
  width: 100%;
}
