.left_right button {
  &:first-child {
    > svg {
      margin: 0 4px;
    }
  }
  > svg {
    margin: 0 5px;
  }
  &::before {
    content: "";
  }
  &:first-child {
    left: 2%;
    z-index: 1;
  }
  right: 2%;
  opacity: 0.5;
  transition: 0.5s ease;
  &:hover {
    opacity: 1;
    background: #f1f1f1;
  }
}
