@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.shadow {
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  -webkit-filter: blur(30px);
}

.ant-picker-input > input::placeholder,
.ant-picker-suffix,
.css-dev-only-do-not-override-1w4v3hc,
.css-dev-only-do-not-override-1w4v3hc::placeholder,
.ant-input-data-count {
  color: rgb(209 213 219) !important;
  font-size: 16px;
}

.ant-input-data-count {
  bottom: -30px !important;
}

.ant-input-affix-wrapper,
.ant-picker,
.ant-input {
  border: 1px solid #33a3ed;
  background-color: transparent !important;
}

.ant-picker-input > input,
.ant-input {
  color: white !important;
  font-size: 16px;
  background-color: transparent !important;
}

.ant-btn-primary {
  color: #24201f !important;
  font-weight: 500;
  border: 2px solid #33a3ed;
  transition: all 0.4s ease-in-out;
  display: flex;
}

.ant-btn-primary:hover,
.ant-picker-now-btn:hover {
  background: #33a3ed !important;
  color: white !important;
}

.ant-btn.ant-btn-sm {
  height: inherit;
  padding: 0px 18px;
}

.ant-picker-now > a {
  border-radius: 5px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #24201f !important;
  padding: 0 10px;
  color: white;
}

.ant-picker-now-btn {
  border: 2px solid #33a3ed;
  transition: all 0.4s ease-in-out;
  background-color: transparent;
}

.ant-input::placeholder {
  color: rgb(209 213 219) !important;
}

.ant-picker-ranges {
  align-items: center;
}

/* Ant Modal */

.ant-modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ant-modal-wrap > div {
  width: 80vw !important;
  max-width: 1440px;
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-modal-footer {
  display: none;
}

.ant-modal-close {
  top: -24px !important;
  inset-inline-end: -17px !important;
}

.ant-modal-close {
  background: gray !important;
  color: white !important;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .ant-picker-dropdown {
    width: 100vw;
    left: 0px !important;
    background: purple;
    zoom: 0.9;
    margin: auto;
    right: 0px !important;
  }

  .ant-picker-body {
    padding: 0 !important;
  }

  .ant-picker-content {
    width: 100% !important;
  }
}
