@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

}

.container {
  width: 1280px;
  margin: auto;
}

.shadow {
  background: rgba(255, 255, 255, 0.8);
  opacity: 0.5;
  -webkit-filter: blur(30px);
}
